.row {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  border-bottom: solid 2px;
}

.form-check-input {
  margin-top: 10px;
  cursor: pointer;
}

a {
  cursor: pointer;
}
