<div class="text-center">
    <div class="header">
        <h1><fa-icon [icon]="faTasks" class="taskIcon"></fa-icon>Todo App</h1>
    </div>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <input type="text" required placeholder="Task" formControlName="task" #task>
            <button class="btn btn-primary" type="submit" [disabled]="!taskForm.valid">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </form>
</div>
<div class="container">
    <div class="row">
        <h1>Tasks ({{numOfTasks}})</h1>
        <p>Completed: {{numOfCompleted}}</p> <p>Pending: {{numOfTasks - numOfCompleted}}</p>
    </div>
    <div class="row" *ngFor="let item of shownTasks; let i=index;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value={{item.task}} id="flexCheckDefault" (click)="checked(i)">
            <label class="form-check-label" for={{item.task}}>
                <a (click)="onEdit(item, i)"  *ngIf="textIndex!=i">{{item.task}}</a>
                <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()" *ngIf="textIndex == i  && editMode">
                    <input type="text" [(ngModel)]="textName" formControlName="task" #task >
                    <button class="btn btn-success" type="submit">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                    <button class="btn btn-danger" (click)="onDelete()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </form>
            </label>
        </div>
    </div>
</div>


