<div class="text-center">
    <div class="header">
        <h1><fa-icon [icon]="faTasks" class="taskIcon"></fa-icon>Todo App</h1>
    </div>
</div>
<app-dark-mode-toggle></app-dark-mode-toggle>
<div class="container">
    <app-new-task></app-new-task>
    <app-filter (filterChanged)="sendToList($event)"></app-filter>
    <app-todo-list [filterReceived]="filterReceived"></app-todo-list>
    <button class="btn btn-primary" (click)="onFetch()">Fetch Tasks</button>
    <div class="btn btn-danger" (click)="onSave()">Save Tasks</div>
</div>


