<div class="text-center">
    <div class="header">
        <h1><fa-icon [icon]="faTasks" class="taskIcon"></fa-icon>Todo App</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="text-center">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" required placeholder="Task" formControlName="task" #task>
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="plus" type="submit" [disabled]="!taskForm.valid">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </div>
        </form>
    </div>
    <div class="row">
        <h1>
            <div class="dropdown show" id="filter">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-display="static"
                    aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faFilter"></fa-icon>
                </a>
            
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="filter='all'">All</a>
                    <a class="dropdown-item" (click)="filter='completed'">Completed</a>
                    <a class="dropdown-item"(click)="filter='pending'">Pending</a>
                </div>
            </div>
            Tasks ({{numOfTasks}})
        </h1>
        <p>Completed: {{numOfCompleted}}</p> <p>Pending: {{numOfTasks - numOfCompleted}}</p>
    </div>
    <div class="row" *ngFor="let item of shownTasks | taskFilter: filter; let i=index;">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value={{item.task}} id="flexCheckDefault" (click)="checked(shownTasks.indexOf(item))" [(ngModel)]="item.checked" [disabled]="textIndex == i && editMode">
            <label class="form-check-label" for={{item.task}}>
                <a (click)="filter=='all'?onEdit(item, i):null"  *ngIf="textIndex!=i">{{item.task}}</a>
                <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()" *ngIf="textIndex == i  && editMode">
                    <input type="text" [(ngModel)]="textName" formControlName="task" #task >
                    <button class="btn btn-success" type="submit">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                    <button class="btn btn-danger" (click)="onDelete()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </form>
            </label>
        </div>
    </div>
</div>


