.header {
  background-color: #03254c;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.btn {
  margin-left: 10px;
}

/* Customize the label (the container) */
.row {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  border-bottom: solid 2px;
}

.form-check-input {
  margin-top: 10px;
  cursor: pointer;
}

.taskIcon {
  margin-right: 10px;
}

#filter {
  float: right;
}

a {
  cursor: pointer;
}

#plus {
  float: none;
  display: inline-block;
}
