.header {
  background-color: #03254c;
  color: white;
}

.btn {
  margin-left: 10px;
}

/* Customize the label (the container) */
.row {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
}

.form-check-input {
  margin-top: 10px;
  cursor: pointer;
}

.row {
  border-bottom: solid black 2px;
}
